<form nzLayout="vertical"  nz-form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>name</nz-form-label>
    <nz-form-control [nzSpan]="24"   nzErrorTip="Please write department name">
      <input nz-input formControlName="name"   />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>code</nz-form-label>
    <nz-form-control [nzSpan]="24"   nzErrorTip="Please write department code">
      <input nz-input formControlName="code"   />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="18">
      <button nz-button nzType="primary" [disabled]="!departmentForm.valid">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
