<nz-card [nzTitle]="cardTitle" [nzExtra]="tabExtraTpl">
  <ng-template #cardTitle>
    <i nz-icon nzType="branches"></i> status
  </ng-template>
  <ng-template #tabExtraTpl>
    <button nz-button nzType="primary" (click)="openDrawer(undefined)" class="add-button"><i nz-icon nzType="plus"></i>Add
      Status
    </button>
  </ng-template>
  <nz-table
    #basicTable [nzData]="statuses"
    nzSize="small"
    [nzFrontPagination]="false"
    [nzTotal]="totalElements"
    [(nzPageIndex)]="pageNumber"
    [(nzPageSize)]="pageSize"
    nzShowPagination
    nzShowSizeChanger
    nzShowQuickJumper
    [nzLoading]="loading"
    (nzPageIndexChange)="loadStatus()"
    (nzPageSizeChange)="loadStatus(true)">
    <thead>
    <tr>
      <th>#</th>
      <th>Name
        <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.name }}</td>
      <td nzAlign="center">
        <i class="edit-btn" nz-icon nzType="edit" (click)="openDrawer(data.id)" nzTheme="outline"
           nz-tooltip="edit"> </i>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="delete-button" nz-popconfirm="" nzPopconfirmTitle="Are you sure delete this task?"
           (nzOnConfirm)="deleteStatus(data.id)" (nzOnCancel)="cancel()">
          <i nzTooltipColor="red"   nz-icon nzType="delete" nzTheme="outline"
             nz-tooltip="delete"></i>
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <ng-template class="spinLoading" #spinLoading>
    <nz-spin nzTip="Loading..." nzSimple [nzSize]="'large'"></nz-spin>
  </ng-template>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-card>


