
<nz-card [nzTitle]="cardTitle" [nzExtra]="tabExtraTpl">
  <ng-template #cardTitle>
    <i nz-icon nzType="branches"></i>  department
  </ng-template>
  <ng-template #tabExtraTpl>
    <button nz-button nzType="primary" (click)="openDrawer(undefined)" class="add-button"><i nz-icon nzType="plus"></i>Add department</button>
  </ng-template>
  <nz-table #basicTable [nzData]="departments"
            nzSize="small"
            [nzFrontPagination]="false"
            [nzTotal]="totalElements"
            [(nzPageIndex)]="pageNumber"
            [(nzPageSize)]="pageSize"
            nzShowPagination
            nzShowSizeChanger
            nzShowQuickJumper
            (nzPageIndexChange)	="loadDepartments()"
            (nzPageSizeChange)="loadDepartments(true)">
    <thead>
    <tr>
      <th>#</th>
      <th>Department Name</th>
      <th>Department Code</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ data.name}}</td>
      <td>{{ data.code}}</td>
      <td nzAlign="center" >
        <div  nz-row>
          <div   nz-col nzSpan="8"></div>
          <div   nz-col nzSpan="4">
            <i class="edit-btn"    nz-icon nzType="edit"  (click)="openDrawer(data.id)"   nzTheme="outline" nz-tooltip="edit"></i>
          </div>
          <div   nz-col nzSpan="4">  </div>
          <div  nz-col nzSpan="4">
            <a nz-popconfirm="" nzPopconfirmTitle="Are you sure delete this task?"
               (nzOnConfirm)="deleteDepartment(data.id)" (nzOnCancel)="cancel()"  >
              <i class="delete-button" nzTooltipColor="red"  nz-icon nzType="delete" nzTheme="outline"  nz-tooltip="delete"></i>
            </a>
          </div>
          <div   nz-col nzSpan="4">  </div>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>




