
  <div class="row row-center">
    <div class="col-center">
      <div class="login-layout">
        <form  nzLayout="vertical" nz-form *ngIf="!isLoggedIn"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <nz-form-item style="align-items: center">
            <nz-form-label >UserName</nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="username is required">
              <nz-input-group nzPrefixIcon="user" [nzSuffix]="suffixUsername">
                <input  style="text-align: center"
                  nz-input
                  placeholder="username"
                  name="username"
                  formControlName="username"
                  required/>
              </nz-input-group>
              <ng-template #suffixUsername>
                <i nz-icon
                   class="ant-input-clear-icon"
                   nzTheme="fill"
                   nzType="close-circle"
                   *ngIf="loginForm.controls.username.value.length>0"
                   (click)="loginForm.controls.username.setValue('')">
                </i>
              </ng-template>

            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="align-items: center">
            <nz-form-label>password</nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="password is required">
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword">
                <input style="text-align: center"
                  nz-input
                  name="password"
                  formControlName="password"
                  [type]="passwordVisible ? 'text' : 'password'"
                  placeholder="password"
                  required/>
              </nz-input-group>
              <ng-template #suffixPassword>
                <i
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="loginForm.controls.password.value.length>0"
                  (click)="loginForm.controls.password.setValue('')">
                </i>
                <i nz-icon
                   [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                   (click)="passwordVisible = !passwordVisible">

                </i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="20" [nzOffset]="4">
              <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="12" style="text-align: right;">
                  <a class="login-form-forgot">forget?</a>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="24" [nzOffset]="0" style="text-align: center;">
              <button
                type="submit"
                nz-button
                [nzLoading]="loading"
                [disabled]="disabled"
                style="width: 100px;"
                nzType="primary"
              >Login
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>



