<nz-card [nzTitle]="cardTitle" [nzExtra]="tabExtraTpl">
  <ng-template #cardTitle>
    <i nz-icon nzType="branches"></i> student Enrollment
  </ng-template>
  <ng-template #tabExtraTpl>
    <button nz-button nzType="primary" (click)="open(undefined)" class="add-button">
      <i nz-icon nzType="plus"></i>Enroll Student
    </button>
  </ng-template>
  <nz-table #basicTable [nzData]="listOfStudentData">
    <thead>
    <tr>
      <th>#</th>
      <th>User Name</th>
      <th>Semester</th>
      <th nz-tooltip="Previous GPA">PGPA</th>
      <th nz-tooltip="Cumulative GPA">CGPA</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{data?.student?.firstName}} {{data?.student?.lastName}}</td>
      <td>{{data?.semesters.name }}</td>
      <td>{{data?.pgpa}}</td>
      <td>{{data?.cgpa}}</td>
      <td nzAlign="center">
        <i class="edit-btn" nz-icon nzType="edit" (click)="open(data?.id)" nzTheme="outline" nz-tooltip="edit"></i>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="delete-button" nz-popconfirm="" nzPopconfirmTitle="Are you sure delete this task?"
           (nzOnConfirm)="confirm(data?.id)" (nzOnCancel)="cancel()">
          <i nzTooltipColor="red" nz-icon nzType="delete" nzTheme="outline"
             nz-tooltip="delete"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>



